<div class="container mt-4">
  <div class="row">
  <div class="card mb-4">
    <div id="<%= dom_id user %>">
      <p>
        <strong>User name:</strong>
        <%= user.user_name %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= user.email %>
      </p>

    </div>
    </div>
    </div>
</div>
