<h1><%= @user.user_name %>'s Inventory</h1>
<%= link_to 'Add Item', new_user_item_path(@user) %>
<ul>
  <% if @items.any? %>
    <% @items.each do |item| %>
      <li><%= item.name %> - <%= item.price %></li>
    <% end %>
  <% else %>
    <li>No items found</li>
  <% end %>
</ul>